{% extends "layout.html.twig" %}

{% block title %}
    error 403
{% endblock %}

{% block content %}
<div class="'m-5 p-5 text-center alert alert-danger">
    <h4>Vous n'avez pas les droits pour accéder à cette page !</h4>
    <p>contacter l'administrateur du site au: 0892 54 53 52 <small>9€/min</small></p>
</div>
{% endblock %}